<html>
    <h2> Messaging Test Page</h2>
    <form action="/client/message" method="post">
        <label>Source Phone</label>
        <input type="text" id="source_phone_id" name="source_phone_id">
        <label>Dest Phone Id</label>
        <input type="text" id="dest_phone_id" name="dest_phone_id">
        <label>Thread Id</label>
        <input type="text" id="thread_id" name="thread_id">
        <label>Message</label>
        <textarea id="text" name="text"></textarea>
        <input type="submit" value="POST"/>
    </form>
    <br/>
    <form method="GET" action="/client/message/list">
        <label>Phone Id</label>
        <input type="text" name="phone_id" />
        <input type="submit" value="GET"/>
    </form>

    <form method="GET" action="/client/message">
        <label>Phone Id</label>
        <input type="text" name="phone_id" />
        <label>Message Id</label>
        <input type="text" name="message_id" />
        <input type="submit" value="GET"/>
    </form>

    <h3> Messages by ThreadId</h3>
    <form method="GET" action="/client/thread/messages">
        <label>Thread Id</label>
        <input type="text" name="thread_id" />
        <input type="submit" value="GET"/>
    </form>


</html>
