<html>
    <h2> Messaging Test PAge</h2>
    <form action="/client/message" method="post">
        <label>First Name</label>
        <input type="text" id="firstname" name="firstname">
        <label>Last Name</label>
        <input type="text" id="lastname" name="lastname">
        <label>Image Url</label>
        <input type="text" id="image_url" name="image_url">
        <label>Status</label>
        <input type="text" id="status" name="status">
        <label>Headline</label>
        <input type="text" id="headline" name="headline">
        <input type="submit" value="POST"/>
    </form>
    <br/>
    <a href="/client/1/message/list"/>Message List for Phone Id 1</a>
    <a href="/client/1/message/2"/>Message 2 for Phone Id 1</a>

</html>
