<html>
    <h2> Main Client Test Page for POST</h2>
    <form action="/client/register" method="post">
        <label>First Name</label>
        <input type="text" id="firstname" name="firstname">
        <label>Last Name</label>
        <input type="text" id="lastname" name="lastname">
        <label>Image Url</label>
        <input type="text" id="image_url" name="image_url">
        <label>Status</label>
        <input type="text" id="status" name="status">
        <input type="submit" value="POST"/>
    </form>
    <br/>
    <br/>
    <form action="/client/activity/1" method="post">
        <label>Phone_id</label>
        <input type="text" id="phone_id" name="phone_id">
        <label>Lattitude</label>
        <input type="text" id="latitude" name="latitude">
        <label>Longitude</label>
        <input type="text" id="longitude" name="longitude">
        <input type="submit" value="POST"/>
    </form>
</html>
